<div class='task valign-wrapper z-depth-3'>
  <a href="#" class="material-icons" style="color: white; margin-right: 5px; font-size: 28px;">crop_square</a>
  <div class="task_title left" style="width: 100%">
    Request payment of fees from BA
  </div>
  <div class="task_date right" style="width: 60px;">
    13 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: white; margin-right: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: white; margin-right: 5px;">person</a>
</div>

