<div class='task done valign-wrapper z-depth-3 tooltip' data-tooltip="validée le 13 dec à 15:18 <br> par Georges Braque" data-position="top" data-delay="50" >
  <a href="#" class="material-icons" style="color: white; margin-right: 5px; font-size: 28px;">check</a>
  <div class="task_title left" style="width: 100%">
    Send a message to BA with the new design
  </div>
  <div class="task_date right" style="width: 60px;">
    13 dec
  </div>
  <a href="#" class="material-icons" style="color: white; margin-right: 5px;">perm_identity</a>
</div>