<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>
<li class="collection-item task_tb" style="padding: 10px;">
  <a href="#" class="material-icons" style="color: #00ac9b; margin-right: 5px; font-size: 30px;">crop_square</a>
  <div class="tb_task_name" style="padding-top: 5px; width: 100%;">
    Alvin
  </div>
  <div class="tb_task_date" style="width: 60px; padding-top: 7px;">
    25 dec
  </div>
  <a href="#" class="material-icons tooltip" data-tooltip="12 dec à 18:30" data-position="top" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">timer</a>
  <a href="#" class="material-icons tooltip" data-tooltip="Pablo Picasso" data-position="right" data-delay="50" style="color: #5E5E5E; margin-right: 5px; padding-top: 5px;">person</a>
</li>