<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <!-- Problem of width unsolved -->
    <li><a href="#!">two ziuzyhiu zkzh izu j</a></li>
    <li class="divider"></li>
    <li><a href="/users/sign_out" data-method="delete" data-confirm="Voulez vous sortir de CMessenger ?" data-valid="Deconnecter" data-cancel="Annuler" class="nav_list_user_links" style:'display: inline-flex'><i class="fa fa-sign-out fa_icons"></i>Deconnection</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
   <a href="#" class="brand-logo hide-on-med-and-down" style="height: 64px;">
      <%= image_tag "log.png", class: "nb_logo_img"%>
    </a>
    <ul class="brand-logo main_tab center ">
      <li id="main_link1" class='tooltipped' data-tooltip="Général"><a href="/"><i class="material-icons" >home</i></a></li>
      <li id="main_link2" data-tooltip="Tâches"><a href="/taskboard"><i class="material-icons">list</i></a></li>
      <li id="main_link3" data-tooltip="Evènements"><a href="/calendar"><i class="material-icons">date_range</i></a></li>
      <li id="main_link4" data-tooltip="Fichiers"><a href="/cloud"><i class="material-icons">filter_drama</i></a></li>
    </ul>
    <ul class="right hide-on-med-and-down" style='margin-right: 70px; '>
      <li><a href="#"><i class="material-icons">notifications_none</i></a></li>
      <li ><a href="#"><i class="material-icons">mail_outline</i></a></li>
    </ul>
    <a class="dropdown-button right" href="#!" data-activates="dropdown1"  data-beloworigin="true"><i class="material-icons" style="margin-right: 10px; font-size: 30px;">reorder</i></a>
    </div>
  </nav>
</div>

<script>
  $(document).ready(function () {
    $('.dropdown-button').dropdown();
    $('.tooltipped').tooltip();
    var pathname = window.location.pathname;
    if(pathname == '/'){
      $('#main_link1').addClass('active')
    } else if(pathname  == '/taskboard'){
      $('#main_link2').addClass('active')
    } else if(pathname  == '/calendar'){
      $('#main_link3').addClass('active')
    } else if(pathname  == '/cloud'){
      $('#main_link4').addClass('active')
    }

  });
  // Active tab
</script>
<div class="fixed-action-btn btn_new_message"><a class="btn-floating btn-large red" href="#" target="_blank"><i class="large material-icons">chat</i></a></div>