<div class="group">
  <!-- Group -->
  <div class="sn_elm_open"  style='width: 100%; text-align: center;'>
    <a href="#">
      <div class="inline-area" style="width: 100%;  text-align: center;">
        <div class="group_icon">
          <i class="material-icons" style='font-size: 20px;'>add</i>
        </div>
        <div class="group_name">
          Ajouter
        </div>
      </div>
    </a>
  </div>
  <div class="sn_elm_close" style='margin-left: 5px;'>
    <a href="#">
      <div class="group_icon">
        <i class="material-icons" style='font-size: 20px;'>add</i>
      </div>
    </a>
  </div>
</div>
