<a href="#"  class="group active">
  <div class="sn_elm_open">
    <div class="inline-area">
      <div class="group_icon">
        <i class="material-icons" style='font-size: 20px;'>inbox</i>
      </div>
      <div class="group_name">
        Inbox
      </div>
    </div>
  </div>
  <div class="sn_elm_close" style='margin-left: 5px;'>
    <div class="group_icon">
      <i class="material-icons" style='font-size: 20px;'>inbox</i>
    </div>
  </div>
</a>