<div class="group">
  <!-- Group -->
  
  <div class="sn_elm_open"  style='width: 100%;'>
    <a href="#">
      <div class="inline-area" style="width: 100%;">
        <div class="group_icon">
          <i class="material-icons" style='font-size: 20px;'>forum</i>
        </div>
        <div class="group_name">
          Groupe name
        </div>
      </div>
    </a>
  </div>
  <div class="sn_elm_close">
    <a href="#" class='tooltip' data-tooltip="Groupe name" data-position="right" data-delay="50">
      <div class="group_icon_round">
        G
      </div>
    </a>
  </div>
  
  <!-- Favorit -->
  <div class="sn_elm_open">
    <a href="##">
      <div class="group_icon">
        <i class="material-icons" style='font-size: 20px;'>edit</i>
      </div>
    </a>
  </div>
</div>
<br>
<script>
  $(document).ready(function () {
     $('.tooltip').tooltip();
  });
</script>