<div class='task_sn undisplay'>
  <div class="task_sn_header">
    <a class="close_sn_task_btn"><i class="material-icons" style="margin-top: 3px; color: #5E5E5E; font-size: 30px; float: left;">close</i></a>
    <div class='task_sn_title' style='float: left;'>
      Request payment of fees from BA
    </div>
  </div>
  <div class="task_sn_body">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">list</i>Sous-tâches [2/5]</div>
        <div class="collapsible-body border_left">
          <!-- Form New SubTask -->
          <div class="new_subtask" style='display: inline-flex; width: 100%; border-bottom: 1px solid #c0c0c0;'>
            <input placeholder="Créer sous-tâche" id="first_name" type="text" class="validate" style="margin: -5px 5px 10px 10px;">
            <a href="#!" style='color: #19bdad; margin-right: 5px; margin-top: 10px;'><i class="material-icons">send</i></a>
          </div>
          <!-- /Form New SubTask -->
          <ul class="collection scroll_250">
            <!-- Element -->
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <!-- /Element -->
            <!-- Copies -->
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
            <!-- /Copies -->
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">group</i>Participants [4]</div>
        <div class="collapsible-body border_left">
          <!-- Btn Participate -->
          <a class="waves-effect waves-light btn" style='width: 95%; margin-top: 5px; margin-bottom: 5px;'><i class="material-icons left">person add</i>Participer</a>
          <!-- /Btn Participate -->
          <ul class="collection" style='border: solid 0.5px #e7e7e7; text-align: left;  max-height: 250px; overflow: scroll;'>
            <!-- Element -->
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <!-- /Element -->
            <!-- Copies -->
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
            <!-- /Copies -->
          </ul>
          <!-- Field to enter new users -->
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Fichiers</div>
        <div class="collapsible-body border_left"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">history</i>Historique</div>
        <div class="collapsible-body border_left"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
  <div class="task_sn_footer" style="padding-right: 5px;">
    <div style="width: 50%; padding: 5px;">
      <a class="waves-effect waves-light btn" style="width: 100%"><i class="material-icons">edit</i></a>
    </div>
    <div style="width: 50%; padding: 5px;">
      <a class="waves-effect waves-light btn" style="width: 100%"><i class="material-icons">delete</i></a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.close_sn_task_btn').click(function() {
      $(this).closest(".task_sn").animate({width: 'hide'});
      $('.body_box, .btn_new_message').css("margin-right", "0");
    });
  });
</script>
