<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>
<li class="collection-item dismissable" style="padding: 10px"><div>Tâche<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">more_vert</i></a></div></li>