<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>
<li class="collection-item dismissable"><div>Alvin<a href="#!" class="secondary-content" style='color: #5E5E5E;'><i class="material-icons">close</i></a></div></li>