<div class="cal_header  z-depth-1">
  <div class="cal_nb">
    <a href='#' class="cal_nb_elm">
      Day
    </a>
    <a href='#' class="cal_nb_elm active">
      Week
    </a>
    <a href='#' class="cal_nb_elm">
      Month
    </a>
  </div>
  <a href='#' class="btn_new_event waves-effect waves-light btn right">
    <i class="material-icons">add</i>
  </a>
</div>
<div class="cal_body">
  
</div>
