<div class="posts">
  <%= render 'posts/post1'%>
  <%= render 'posts/post3'%>
  <%= render 'posts/post'%>
</div>

<%= render 'tasks/sn/sn' %>

<script>
  $(document).ready(function () {
    // Action btn display
    $('.card-header').on('click', function (event) {
      $( this ).nextAll(".post_action").toggle();
    });
    // Comment input display
    $('.comment_btn').on('click', function (event) {
      var pa = $( event.target ).closest(".post_action")
      pa.nextAll(".post_comment").slideToggle();
      pa.nextAll(".post_comments").slideDown();
      pa.nextAll(".post_edit").slideUp();
    });
    // Edit display
    $('.edit_btn').on('click', function (event) {
      var pa = $( event.target ).closest(".post_action")
      pa.nextAll(".post_edit").slideToggle();
      pa.nextAll(".post_comment, .post_comments").slideUp();
    });
    // Open sn
    $('.task').click(function() {
      $( event.target ).closest(".posts").next('.task_sn').animate({width: 'show'});
      $('.body_box, .btn_new_message').css("margin-right", "250px");
    });
  });
</script>