<div class="card">
  <!-- Content -->
  <div class="card-content" style="display: inline-block;">
    <div class="profil_round" style='float: left'>
      AR
    </div>
    <div class="comment_info" style='float: left; margin-left: 10px;'>
      <a class="user_link" href="#" style="text-transform: capitalize; color: #5E5E5E; margin-right:5px; ">Auguest Renoir</a>
      <span class="time" style="font-size: 13px; color: darkgray;">le 12 dec a 15:12</span>
    </div>
    
    <div class="comment_text" style='float: left; margin-left: 60px; margin-top: -30px;'>
      I just finished the designs of Abstract Background. You can find it into the cloud (/AB/Design). I send all this tomorrow to the client. So if you have any suggestions, please send them to me before the end of the day.
    <br>
    <div class="valign-wrapper" style="margin-top: 10px;">
      <img class="materialboxed z-depth-3" data-caption="The new logo for AB" width="200" src="https://image.freepik.com/vecteurs-libre/modele-d-39-infographie-abstraite-coloree-abstraite_1201-1154.jpg">
      <img class="materialboxed z-depth-3" data-caption="The new graphical charter of AB" width="100" src="https://image.freepik.com/free-vector/creative-letterhead-design-with-arrow-in-green-and-blue-color_1017-8410.jpg">
    </div>
    </div>
  </div>
  <!-- Action area -->
  <div class="card-action post_action undisplay" style="padding: 0 10px 0 10px;">
    <div class="row" style="margin: 5px; padding: 5px;">
      <div class="col s4">
        <div class="post_btn">
          <i class="material-icons" style="color: #5E5E5E; font-size: 20px;">thumb_up</i>
        </div>
      </div>
      <div class="col s4">
        <div class="post_btn comment_btn">
          <i class="material-icons" style="color: #5E5E5E; font-size: 20px;">sms</i>
        </div>
      </div>
      <div class="col s4">
        <div class="post_btn edit_btn">
          <i class="material-icons" style="color: #5E5E5E; font-size: 20px;">edit</i>
        </div>
      </div>
    </div>   
  </div>
  <!-- Comments -->
  <div class="card-action post_comments" style="padding:10px;">
    <div class="content" style='display: inline-block'>
      <div class="profil_round_md left" style='background: #4cafaa'>
        GB
      </div>
      <div class="comment_info left" style='margin-left: 10px;'>
        <a class="user_link" href="#" style="text-transform: capitalize; color: #5E5E5E; margin-right:5px; ">George Braque</a>
        <span class="time" style="font-size: 13px; color: darkgray;">le 12 dec a 15:53</span>
      </div>
      <div class="comment_text left" style='margin-left: 50px; margin-top: -15px;'>
        Very good job !! Can you add the native design file (InDesign) into the cloud ? I need to reuse it for an other client (Global Tour). 
      </div>
    </div>
  </div>
  <!-- Comments input -->
  <div class="card-action post_comment undisplay" style="padding: 0 10px 0 10px;">
    <div class="input-field">
      <div class="input-field" style="margin-right: 60px;">
        <input placeholder="Commentez" id="first_name" type="text" class="validate" >
      </div>
      <button class="btn right waves-effect waves-light" style='width: 40px; padding-right: 10px; margin-top: -55px; margin-left: 5px;'>
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <!-- Edit area -->
  <div class="card-action post_edit undisplay" style="padding:10px;">
    Ici vous pouvez éditer votre post !
  </div>
</div>